#apply .service-bg {
    /* background: linear-gradient(
        135deg,
        rgb(159, 162, 168, 0.5),
        hsla(253, 74%, 33%, 0.5)
      ),
      url("../../assets/images/apply.jpg"), no-repeat, center center fixed; */
      background: cornflowerblue;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 70vh;
  }
  
  #apply .fw-light {
    color: #fff;
    font-weight: 900 !important;
    text-transform: uppercase;
  }
  
  #apply .apply-sec{
      padding: 50px 0px;
      background-color: #f2f7fb

  }

  #apply .lead {
    color: #fff;
    font-weight: 400 !important;
    padding-top: 5px;
  }

  #apply .login-block .auth-box {
    margin: 20px auto 0;
    max-width: 450px !important
}

#apply .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
    box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #fff
}

#apply .card .card-block {
    padding: 1.25rem
}

#apply .f-80 {
    font-size: 80px
}

#apply .form-group {
    margin-bottom: 1.25em
}

#apply .form-material .form-control {
    display: inline-block;
    height: 43px;
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    padding: 9px;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc
}

#apply button {
    background: transparent;
    color: #000 !important;
    text-align: center;
    padding: 5px 40px;
    border-radius: 20px;
    border: 2px solid #003380;
    margin: 10px 0px;
    font-weight: bolder;
    text-transform: uppercase;
}

#apply button:hover {
    color: #fff !important;
    background: #003380;
}

